.footer {
    background: #00BF13;
    color: #000000;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-size: 22px;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}